<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="/htmx-1.9.12/dist/htmx.js" crossorigin="anonymous"></script>
    <script src="/sse/sse.min.js." crossorigin="anonymous"></script>
</head>
<body>

<div th:if="${buttons eq null}" class="login">
    <form>
        <input type="text" name="username" value="43125" required>
        <button hx-post="/login" hx-target=".login" hx-params="username" type="submit">Login</button>
    </form>
</div>

<div th:if="${buttons ne null}"
     th:fragment="buttons"
     th:attr="hx-sse=@{connect:/sse/{sessionId}(sessionId=${userSession.getSessionId()})}"
     class="softphone">

    <div>Agent Name: <span th:text="${userSession.getUsername()}"></span></div>
    <div>Agent State: <span th:text="${userSession.getState()}"></span></div>
    <div th:each="button : ${buttons}"
         class="button">
        <button
                th:name="action"
                th:value="${button.value.getName()}"
                th:text="${button.value.getLabel()}"
                th:disabled="${!button.value.isEnabled()}"
                hx-post="/softphone/action"
                hx-trigger="click"
                hx-target=".softphone"></button>
    </div>
    <div hx-get="/softphone" hx-trigger="sse:ringing" hx-target=".softphone"></div>

    <button hx-post="/logout"
            hx-trigger="click"
            hx-target=".softphone"
    >Logout
    </button>

    <h3>Http-Response</h3>
    <div th:if="${httpResponse ne null}">
        <div th:text="${httpResponse}"/>
    </div>

    <div>
        <h3>Meta-Data</h3>
        <button th:attr="hx-get=@{/metadata/{agentId}(agentId=${userSession.getSessionId()})}"
        hx-target=".metadata">MetaData</button>
        <div class="metadata"></div>
    </div>
</div>


</body>

</html>
